h1= name

p= description

#wiki-content
    h1 Sources
    #crafting-recipes
        h1 Crafting Recipes
        #crafting-recipes-content
            if usedIn == null || usedIn.size() == 0
                p= name+' is not used in any crafting recipes.'
            else
                p= name+' is used in the following crafting recipes'
                .table-container
                    table
                        tr 
                            th
                            th Recipe
                            th Trade
                            th Level
                        for recipe in usedIn
                            tr
                                td
                                    .tradeskill-icon-container
                                        img.tradeskill-icon(src='https://new-world.wiki/'+recipe.getRecipeItemDefinitions().getName().replace('@', '').toLowerCase()+'.png') 
                                td= recipe.getRecipeItemDefinitions().getLocalName()
                                td
                                    .tradeskill-icon-container(title=recipe.getTradeSkill())
                                        img.tradeskill-icon(src='https://new-world.wiki/tradeskills/'+recipe.getTradeSkill().toLowerCase()+'.png')
                                td= recipe.getRequiredLevel()

#item-box
    .item-box-img-banner
        .item-box-img-container
            img.item-box-img(src=imgSrc)
        .item-stats-container
            .item-name= item.getLocalName()
            .item-type= item.getItemType()
            .item-rarity Uncommon
        .clear
    if item.getMinGearScore() > 0
        .gear-score-container
            if item.getMinGearScore() == item.getMaxGearScore()
                p.gear-score= item.getMinGearScore()
            else
                p.gear-score= item.getMinGearScore()+' - '+item.getMaxGearScore()
            p.gear-score-title Gear Score
        .item-stats-container
            if item.getStats() != null
                for stats in item.getStats()
                    .item-stats-value= stats.getValue()
                    .item-stats-title= stats.getTitle()
        .damage-container
        .perk-container 
    .description-container
        p= item.getDescription()